<!--The content below is only a placeholder and can be replaced.-->
<div class="container dark-theme">
  <mat-toolbar class="mat-elevation-z3">
    Tascal
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
      Jolly good!
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column"
                         fxLayoutAlign="space-evenly center">
      <div style="text-align:center">
        <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
      <div fxLayout="column"
           fxLayoutAlign="space-evenly center">
        <mat-card fxLayoutGap="20px"
                  style="width:400px; min-width:400px;">
      
          <mat-card-title>Card Header {{num | async}}</mat-card-title>
          <mat-card-subtitle>Card subtitle</mat-card-subtitle>
      
          <mat-card-content><p class="mat-caption">Card Content</p></mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="increment($event)">Click me!</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button type="button" mat-button (click)="sidenav.open()">
        Open sidenav
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
